{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Translate English to Singlish {% endblock %}</h1> <!-- Header for Input page--> 

<form method="post">
    <br>
    <div class="form-group">
        <label for="title">Input</label>
        <input type="text" name="title"
               placeholder="English sentence/phrase" class="form-control" 
               value="{{ request.form['title'] }}"></input> <!--gray text inside first textbox before input-->
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" >Translate</button> <!--text on blue button  inset onclick thingy here maybe-->
    </div>
    <br>

   <!-- <div class="form-group">
        <label for="content">Translation</label>
        <textarea name="content" placeholder="ChatGPT translation will appear here"
            class="form-control">{{ request.form['content']}}</textarea> | gray text inside second textbox before input
 
    </div> -->
    

</form>
{% endblock %}